.nav__contents {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: fixed;
  top: 16px;
  left: 0;
  width: 80px;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
}
.nav {
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
  height: 34px;
  z-index: 2;
  /* Animation */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav h2 {
  margin-top: 4px;
}

.nav-left {
  display: flex;
  position: fixed;
  top: 5px;
  left: 150px;
  width: 300px;
  justify-content: space-around;
}

.nav__black {
  background-color: #111;
}

/* .nav__select-types {
  color: black;
  background-color: #fff;
} */

.nav__avatar {
  position: fixed;
  right: 20px;
  cursor: pointer;
  object-fit: contain;
  height: 34px;
}